.serviceDiv{
  margin-bottom: 2rem;
}
.myService {
  color: rgba(136, 65, 202, 0.74);
  font-weight: bold;
}
.frontEndDiv {
  height: 46vh;
  width: 30vw;
  text-align: center;
  background-color: rgba(129, 63, 192, 0.345);
  border: 2px double #7462e1;
  border-radius: 1rem;
  margin-top: 4rem;
  margin-left: 10rem;
  position: relative;
  padding-top: 1.4rem;
  animation-name: frontAnimation;
  animation-duration: 2s;
  transform: rotate(20deg);
  transition-duration: 2s;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
}
.backEndDiv {
  height: 46vh;
  width: 30vw;
  text-align: center;
  background-color: rgba(129, 63, 192, 0.345);
  border: 2px double #7462e1;
  border-radius: 1rem;
  float: right;
  padding-top: 1.4rem;
  margin-right: 13rem;
  margin-top: -6rem;
  position: relative;
  animation-name: backAnimation;
  animation-duration: 2s;
  transform: rotate(-20deg), translate(-8rem, 0);
  transition-duration: 2s;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
}
.uiDiv {
  height: 46vh;
  width: 30vw;
  text-align: center;
  padding-top: 1.4rem;
  background-color: rgba(129, 63, 192, 0.345);
  border: 2px double #7462e1;
  border-radius: 1rem;
  margin-top: 7rem;
  margin-left: 10rem;
  margin-bottom: 3rem;
  position: relative;
  animation-name: uIAnimation;
  animation-duration: 2s;
  transform: rotate(-20deg);
  transition-duration: 2s;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
}
@keyframes frontAnimation {
  from {
    left: -6rem;
    top: -2.2rem;
  }

  to {
    left: 0px;
    top: 0px;
  }
}
@keyframes backAnimation {
  from {
    left: 10rem;
    top: 0rem;
  }

  to {
    left: 0px;
    top: 0px;
  }
}

@keyframes uIAnimation {
  from {
    left: -6rem;
    bottom: 0rem;
  }

  to {
    left: 0px;
    top: 0px;
  }
}
@media screen and (max-width: 768px) {
  .serviceDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
  }
  .frontEndDiv {
    margin: 0;
    margin-top: 2.5rem;
    width: 50vw;
    height: 40vh;
  }
  .backEndDiv {
    margin: 0;
    width: 50vw;
    height: 40vh;
  }
  .uiDiv {
    margin: 0;
    width: 50vw;
    height: 40vh;
  }
}
