* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.HomePageDiv {
  height: 10vh;
}
.HomePageDiv nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 90px;
  color: #8373dc;
}
nav a {
  padding: 15px 35px;
  font-weight: bold;
  text-decoration: none;
  color: #7462e1;
}
.HomePageDiv nav div a:hover {
  color: #260bbc;
  font-size: 17px;
}
.HomePageDiv nav div .active {
  color: #260bbc;
  text-decoration: underline;
  font-size: 17px;
}
.menubar {
  display: none;
}
@media screen and (max-width: 768px) {
  .navLinks {
    display: none;
  }
  .menubar {
    display: inline;
    position: absolute;
    right: 0;
  }
  .menubar .fa-bars {
    color: white !important;
    margin-right: 45px;
  }
  .fa-scribd {
    color: white;
  }
  .HomePageDiv nav {
    margin: 0;
    background: #7562e1b8;
    min-height: 65px;
    height: 10vh;
  }

  nav a {
    color: white;
  }
  header nav h3 {
    position: absolute;
    padding-left: 15px;
    top: 1.2rem;
  }
  .menubar {
    position: absolute;
    top: 1.5rem;
  }
}
.toggleNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 65px;
  position: relative;
  top: 155px;
  margin-top: 65px;
  width: 100vw;
  background-color: #9e93e5;
}
.toggleNav a {
  text-align: center;
}
.fa-sun {
  color: #8373dc;
}
header.sticky {
  background-color: #f9f9f9;
  padding: 2px 0px;
  width: auto;
  box-shadow: 0 1px 10px;
}
