main{
    position: relative;
    height: 90vh;
    overflow: hidden;
}
.leftCircle{
    border-radius: 50%;
    background-color:#FAFCFE;
    height:100px;
    width: 100px;
    position: absolute;
    margin-left: -5%;
    margin-top: 26px;
}
.manDiv{
    background-image: url('../../assets/images/sabi.png');
    background-size:contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 90vw;
    background-position: 60% -40%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}

.rightCircle{
    border-radius: 50%;
    background-color:#7462E1;
    height: 80vmax;
    width: 80vmax;
    position: absolute;
    bottom: -98%;
    right:-40%;
    margin-left: 60%;
    display: flex;
    flex-direction: column;
}
.rightCircle a{
  z-index: 2;
}
.bannerIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:2rem;
  position: absolute;
  bottom:2.5rem;
  right: 18rem;
  z-index: 2;
}
.bannerIcon i {
  color:white;
  font-size: 1.75rem;
}
.content {
    margin-left: 80px;
    position: absolute;
    text-align: left;
    margin-top: 80px;
    height: 500px;
    width: 400px;
  }
  
  .content h1 {
    font-size: 60px;
    margin-bottom: 10px;
    color: #120946;
  }
  
  .content div {
    margin: 8px auto;
    color: #453e6c;
    font-size: 20px;
  }

  .content div div {
    margin: 3px auto;
    color: #6e72f2de;
    font-size: 18px;
    font-weight: bold;
  }
  
  .content button {
    padding: 6px 10px;
    background-color: #7462E1;
    color: white;
    border-style: hidden;
    position: relative;
    z-index: 3;
  }
  .content button:hover{
    background-color: #d50b6daf;
  }

  @media screen and (max-width: 825px) {
    .manDiv{
      display: none;
    }
    .rightCircle{
      display: none;
  }
  .bannerIcon{
    display: none;
  }
  .content{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 3.7rem;
    padding: 0;
    padding-top: 7rem;
  }
  .content h1{
    font-size: 14vw;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: #453e6c;
    
  }
  .content div{
    font-size: 6vw;
    text-align: center;

  }
  .content div div {
    font-size: 6vw;
    text-align: center;
  }
  
  .content button {
    padding: 6px 10px;
    background-color: #7462E1;
    color: white;
    border-style: hidden;
    position: relative;
    z-index: 3;
    font-size: 2.5rem;
    margin-top: 2rem;
  }
    
   }
   @media screen and (max-width: 760px) {
    
    .manDiv{
      display: none;
    }
    .rightCircle{
      display: none;
  
  }
  .bannerIcon{
    display: none;
  }
  .content{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-top: 7rem;
  }
  .content h1{
    font-size: 4rem;
  }
  .content div{
    font-size: 2rem;
    margin-top: 3rem;
  }
  .content div div{
    font-size: 2.2rem;
  }
  .hireMeButton{
    font-size: 2rem;
  }
    
   }
  